<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link href="css/style.css" rel="stylesheet">
    {{ bootstrap.load_css() }}
  </head>
  <body>
    {{ bootstrap.load_js() }}
    <h1>{{ title }} by {{ author }}</h1>

    <img src="/static/images/{{ id }}.jpg" alt="it's not working!!!" class="rounded img-fluid">

    <h5>{{ mode }} image in {{ format }} format with width {{ width }} and height {{ height }}.</h5>
    <br>
    <a href="{{ url_for('home') }}">Back to list of images</a>
  </body>
</html>

