<!DOCTYPE <!DOCTYPE html>
<!-- Theme may be required to be white -->
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="css/style.css" rel="stylesheet">
    {{ bootstrap.load_css() }}
    <h1>Kyle's Random Picture Gallery</h1>
  </head>
  <body>
    {{ bootstrap.load_js() }}
    {% for item in info %}
        <h3>{{ item[0] }}</h3>
        <img src="/static/images/{{ item[1] }}.jpg" alt="it's not working!!!" class="rounded">
    {% endfor %}

  </body>
</html>

